.card-text {
  color: #0066B1;
  font-size: 25px;
  font-weight: bold;
}

.table-row {
  padding: 0.5em 0.5em;
  min-height: auto;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: .25s box-shadow;
  transition: .25s box-shadow;
  margin: 2% 2%;
}

.chart {
  max-width: 600px;
  height: 350px;
  margin: 35px auto;
}

.table-container {
  width: 80%;
  padding-left: 3%;
  padding-right: 1%;
  padding-top: 2%;
  background-color: white;
  border-radius: 7px;
}

table {
  width: 100%;
  margin: 2% 0;
}

.btn-status-success {
  border: 2px solid #32BEA6;
  background-color: #CEEFE9;
  color: #32BEA6;
  font-weight: bold;
  width: 130px;
  height: 34px;
  letter-spacing: 0.08em;
}

.user-link {
  text-decoration-line: underline;
  font-size: 15px;
  color: #0066B1!important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*mouse over background slide from left*/
.user-link:hover, .user-link:active, .user-link:focus {
  background-position: 0 0;
  color: #252525;
  outline: 0;
}
